server:
  port: 8081

spring:
  application:
    name: rest-order-service

  datasource:
    url: jdbc:mysql://localhost:3306/rest_order
    username: root
    password: ${MYSQL_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

payments:
  service:
    url: http://localhost:8082